* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Abel', sans-serif;
    line-height: 1.4;
}
/* html,
body { height: 100vh; }
body { margin: 0; font-family: 'Abel', sans-serif; } */